.container {
  /* border: 1px solid red; */
  height: 99vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-con {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input {
  height: 30px;
  width: 400px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  color: #8b9199;
  /* border: 1px solid black; */
}
h1 {
  margin: 0;
}
p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 45px;
  color: #8b9199;
}
.upper-sec {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}
.LogInButton {
  height: 50px;
  width: 423px;
  margin-top: 15px;
  margin-bottom: 25px;
  color: white;
  background-color: #8751fa;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}

.child-con {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
  border-radius: 10px;
}
/* .middle-sec {
  display: flex;
  border: 1px solid black;
} */
